body, html {
  margin: 0;
  padding: 0;
}
html {
  background-color: whitesmoke;
}

header {
  background-color: PeachPuff;
}

h1 {
  margin: 0;
  padding: 10px;
  padding-left: 25px;
  font-size: 50px;
  font-family: cursive;
}

h2 {
  background-color: whitesmoke;
  margin: 0;
  padding: 10px;
  padding-left: 40px;
  font-family: cursive;
  font-size: 30px;
}

.content {
  background-color: teal;


}

.line {
  border: 1px solid black;
  height: 80%;

}

.colorCounter {
  font-size: 18px;
  margin: 15px;
}

.submitButtons {
  font-size: 18px;
  margin: 5px;
  margin-left: 15px;
}

.blockRed {
  max-width: 100px;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: red;
  float: left;
}

.blockBlue {
  max-width: 100px;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: blue;
  float: left;

}
.blockGreen {
  max-width: 100px;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: green;
  float: left;
}
.blockYellow {
  max-width: 100px;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: yellow;
  float: left;
}
